<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_DiscoveryProxy">
                    <security mode="None" />
                </binding>
                <binding name="WSHttpBinding_Client">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:88/discoproxy/probe" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_DiscoveryProxy" contract="ServiceReference1.DiscoveryProxy"
                name="WSHttpBinding_DiscoveryProxy" />
            <endpoint address="http://localhost:88/discoproxy/announce" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_Client" contract="ServiceReference1.Client"
                name="WSHttpBinding_Client" />
        </client>
    </system.serviceModel>
</configuration>